if (credits != undefined)
  - var total_classes = credits.length
  - var total_credits = credits.reduce((accumulator, credit) => accumulator + credit.credits, 0)

  div.totals-container
    div.class-total.totals
      h3.totals-number= total_classes
      div.totals-bottom Classes Left
    div.credits-total.totals
      h3.totals-number= total_credits
      div.totals-bottom Credits Left